/* font import link -------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* common style -------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background: #FAFAFA;
    color: var(--primary-color);
    position: relative;
}
:root{
    --primary-color: #020043;
    --secondary-color: #FFC637;
    --third-color: #343268;
}
.container{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}
.bg-effect-top{
    background: linear-gradient(#0000, #34326877, #0000);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    filter: blur(70px);
}

.bg-effect-bottom{
    background: linear-gradient(#0000, #34326877, #0000);
    height: 100vh;
    width: 100%;
    position: absolute;
    bottom: 400px;
    left: 0;
    filter: blur(70px);
}
.primary-btn{
    background: none;
    border: 1px solid;
    padding: 12px 16px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 16px;
    color: var(--primary-color);
    display: inline-block;
    cursor: pointer;
}
.primary-btn>i{
    transform: rotate(-45deg);
}
.section-sub-title{
    background: none;
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    color: var(--primary-color);
    display: inline-block;
}
.section-title{
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
}


/* navbar style --------------- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
    z-index: 1;
    position: relative;
}
nav .logo img{
    height: 33px;
}

nav .nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item li{
    list-style: none;
}
.nav-item li a{
    text-decoration: none;
    color: var(--primary-color);
    padding: 10px 16px;
    font-size: 16px;
}


/* hero section style --------- */
.hero{
    width: 100%;
    height: 100vh;
    max-height: 470px;
    border-radius: 48px;
    background: linear-gradient(#00C19D00, #02004378), url('/pic/Rectangle 5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    position: relative;
}


/* feature style ----------- */
.feature{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 45px 5px 100px;
    position: relative;
    gap: 15px;
    z-index: 1;
    color: var(--primary-color);
}
.feature-side-card{
    width: 20%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 20px 16px;
    border-radius: 20px;
    border: 1px solid #d4d4d4e7;
    gap: 20px;
}
.feature-side-card img{
    width: 70%;
    margin: 0 auto;
}
.feature-side-card h2{
    font-size: 40px;
    font-weight: 600;
}
.feature-side-card p{
    font-size: 14px;
    width: 100%;
    max-width: 140px;
    padding: 10px 0;
}
.feature-content{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.feature-content .title{
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}
.feature-content .title h1{
    text-align: center;
    font-size: 48px;
    line-height: 55px;
}
.feature-items{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 16px;
    flex: 1;
    padding-top: 20px;
}
.feature-items> .card{
    border: 1px solid;
    width: 33.33%;
    background: #FFFFF5;
    padding: 20px 16px;
    border-radius: 20px;
    border: 1px solid #d4d4d4e7;
    gap: 20px;
    position: relative;
    height: 100%;
}
.feature-items> .card h2{
    font-size: 40px;
}
.feature-items> .card p{
    font-size: 14px;
    width: 100%;
    max-width: 135px;
    line-height: 21px;
}
.feature-items> .card>img{
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.card .inline{
    display: flex;
    align-items: center;
}
.card .inline>i{
    font-size: 30px;
    color: #FFE03D;
}

.feature-items> .card:nth-child(2){
    background: #FBFBFB;
    height: 85%;
}
.feature-items .users{
    display: flex;
    padding-top: 10px;
}
.feature-items .users> img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: relative;
}
.feature-items .users> img:nth-child(2){
    right: 10px;
}
.feature-items .users> img:nth-child(3){
    right: 20px;
}
.feature-items .users> img:nth-child(4){
    right: 30px;
}


/* about style here ------------------ */
.about{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 5px;
}
.about .content{
    width: 50%;
}
.about .content .section-title{
    padding: 24px 0;
    width: 100%;
    max-width: 300px;
}
.about .content .text{
    width: 100%;
    max-width: 480px;
    padding-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
}
.about .about-photo{
    width: 50%;
    position: relative;
}
.about .primary-btn{
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}
.about .about-photo img{
    width: 100%;
    height: 90%;
}
.about-photo> .text-box{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 65%;
    padding:36px 16px;
    border-radius: 32px;
    background: var(--third-color);
    color: #fff;
    transform: translateX(-20%);
}
.about-photo> .text-box h4{
    font-size: 26px;
    padding-bottom: 16px;
}
.about-photo> .text-box p{
    font-size: 16px;
    line-height: 24px;
}


/* service style here--------------- */
.service{
    padding: 120px 5px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.service>div{
    width: 48%;
    border-radius: 30px;
    overflow: hidden;
}
.service .content{
    padding: 20px;
}
.service-card img{
    width: 100%;
    height: 100%;
}
.service> .content .section-title{
    padding-top: 20px;
}
.service> .content .text{
    padding: 24px 0;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    max-width: 420px;
}
.service> .content .primary-btn{
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}
.service-card{
    position: relative;
}
.service-card> .text-box{
    position: absolute;
    bottom: 15px;
    left: 15px;
    background: #020043ab;
    width: 60%;
    color: #fff;
    border-radius: 20px;
    padding: 16px;
}
.service-card> .text-box h4{
    font-size: 20px;
}

.service-card> .text-box> div{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.service-card> .text-box> div p{
    font-size: 12px;
    line-height: 18px;
    width: 75%;
    padding: 16px 0;
}
.service-card> .text-box> div button{
    height: 48px;
    width: 48px;
    background: #FFC637;
    border-radius: 50%;
    border: none;
}
.service-card> .text-box> div button i{
    transform: rotate(-40deg);
    font-size: 20px;
    color: #fff;
}

/* testimonial style ----------- */
.testimonial{
    padding:30px 5px 60px;
}
.testimonial .section-title{
    padding: 20px 0;
}

.testimonial-content .item{
    background: #FFFFF5;
    border-radius: 16px;
    padding: 18px;
}

.testimonial-content .item h3{
    font-size: 19px;
    width: 90%;
}
.testimonial-content .item p{
    font-size: 12px;
    line-height: 18px;
    padding: 16px 0;
}
.testimonial-content .user-info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.testimonial-content .user-info img{
    height: 44px;
    width: 44px;
    border-radius: 50%;
    object-fit: cover;
}
.testimonial-content .user-info .name{
    display: flex;
    padding: 2px 0;
}
.testimonial-content .rating i{
    font-size: 12px;
    color: #FFE03D;
}
.testimonial-content .name span, .testimonial-content .name h5{
    font-size: 12px;
}
.swiper{
    padding-bottom: 40px;
}
.swiper .swiper-pagination{
   color: #FFE03D;
}

/* faq style --------------- */
.faq{
    padding: 20px 5px;
    z-index: 10;
    position: relative;
}
.faq .section-title{
    padding: 20px 0;
}
.faq-content{
    width: 100%;
    margin: 20px auto;
}
.faq-box{
    position: relative;
    margin: 10px 0;
    overflow: hidden;
}
.faq-box>.level{
    position: relative;
    cursor: pointer;
    padding: 15px 20px;
    background: #FFFFF5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    border-radius: 8px;
}
.faq-box>.level h4{
    font-size: 20px;
}
.faq-box .icon{
    transition: 0.3s;
}
.faq-box>.content{
    position: relative;
    height: 0;
    overflow: hidden;
    overflow-y: auto;
    transition: 0.3s;
}
.faq-box>.content>p{
    font-size: 14px;
    color: var(--primary-color);
    padding: 20px;
}
.faq-box.active>.content{
    height: 80px;
    overflow: hidden;
    
}
.faq-box.active>.level .icon{
    display: none;
}
.faq-box.active>.level{
    box-shadow: 0px 1px 3px #0003;
}




/* discound style ---------- */
.discound{
    height: 80vh;
    max-height: 475px;
    width: 100%;
    border: 1px solid;
    border-radius: 32px;
    background: linear-gradient(90deg,#020043, #0200434D), url('./pic/Rectangle\ 32.png');
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 80px 0 100px;
    z-index: 10;
    position: relative;
}
.discound .content{
    width: 460px;
    color: #fff;
    padding: 20px 50px;
}
.discound h2{
    font-size: 40px;
    line-height: 60px;
}
.discound .content .btn-group{
    display: flex;
    gap: 20px;
    padding-top: 25px;
}
.discound .content .btn-group .primary-btn:nth-child(1){
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}
.discound .content .btn-group .primary-btn:nth-child(2){
    color: #fff;
}
.discound>.logo{
    position: absolute;
    top: 60px;
    right: 50px;
}


/* footer style ------------ */
footer{
    padding: 80px 5px;
    background: var(--primary-color);
    color: #FFFFF5;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 20px;
    gap: 10px;
}
.footer-content>div{
    width: 22%;
    padding:0 5px;
}
.footer-content>div:nth-child(1){
    width: 34%;
    padding: 0;
}
.footer-content p{
    font-size: 16px;
    line-height: 22px;
}
.footer-content .address{
    padding-bottom: 16px;
}
.footer-content ul li{
    list-style: none;
}
.footer-content ul li a{
    text-decoration: none;
    color: #FFFFF5;
    padding: 5px;
    display: inline-block;
    font-size: 14px;
}
.footer-content .social-link{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}
.footer-content .social-link a{
    color: #FFFFF5;
    text-decoration: none;
    font-size: 20px;
}
.footer-content .copy{
    font-size: 14px;
    padding-top: 16px;
}
